@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F7F5;
  font-family: 'Inter', sans-serif;
  color: #1A1A1A;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #F7F7F5;
}
::-webkit-scrollbar-thumb {
  background: #D0D0CE;
  border-radius: 4px;
}
